@use '@angular/material' as mat;
@use 'app/core/theming' as app;
@use 'sass:map';

@include mat.core();


$color-config-light: (
  color: (primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: mat.define-typography-config(),
);

$light-theme: mat.define-light-theme($color-config-light);
@include mat.all-component-themes($light-theme);




$night-primary: (
  700: #ff000036,
  800: #ff000032,
  900: #fe737389,
  contrast: (700: rgb(0, 0, 0),
    800:rgb(0, 0, 0),
    900: rgb(0, 0, 0),
  )
);

.app-night-theme {
  $app-night-primary: mat.define-palette($night-primary, 900, 800, 700);
  $app-night-accent: mat.define-palette(mat.$pink-palette);

  $app-night-theme: app.define-dark-theme((color: (primary: $app-night-primary,
          accent: $app-night-accent,
        )));

  @include mat.all-component-colors($app-night-theme);
}



$color-config-dark: (
  color: (primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: mat.define-typography-config(),
);

.app-dark-theme {
  $dark-theme: mat.define-dark-theme($color-config-dark);
  @include mat.all-component-colors($dark-theme);
}




html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.wrap {
  white-space: pre;
}

.input-list {
  display: flex;
  flex-flow: wrap;
  margin-left: -10px;
  margin-top: 10px;
}

.input-list>* {
  margin-left: 10px;
  margin-top: 10px;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.hidden {
  display: none !important;
}