@use '@angular/material' as mat;
@use 'app/core/theming' as app;
@use 'sass:map';

@include mat.core();


$color-config-light: (
  color: (primary: mat.m2-define-palette(mat.$m2-indigo-palette),
    accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400),
    warn: mat.m2-define-palette(mat.$m2-red-palette),
  ),
  typography: mat.m2-define-typography-config(),
);

$light-theme: mat.m2-define-light-theme($color-config-light);
@include mat.all-component-themes($light-theme);

// These are just the "light" theme values
.warn-color {
  color: #c2185b;
}

.good-color {
  color: #0b8814;
}

.bg-warn {
  background-color: #f5263c !important;
}



$night-primary: (
  700: #ff000036,
  800: #ff000032,
  900: #fe737389,
  contrast: (700: rgb(0, 0, 0),
    800:rgb(0, 0, 0),
    900: rgb(0, 0, 0),
  )
);

.app-night-theme {
  $app-night-primary: mat.m2-define-palette($night-primary, 900, 800, 700);
  $app-night-accent: mat.m2-define-palette(mat.$m2-pink-palette);

  $app-night-theme: app.define-dark-theme((color: (primary: $app-night-primary,
          accent: $app-night-accent,
        )));

  @include mat.all-component-colors($app-night-theme);

  .mat-drawer-backdrop.mat-drawer-shown {
    visibility: visible;
    background-color: rgb(0 0 0 / 33%);
  }

  .warn-color {
    color: #e91e63;
  }

  .good-color {
    color: #069806;
  }

  .bg-warn {
    background-color: #8b0818 !important;
  }


  .leaflet-control:not(.no-dark),
  .leaflet-control:not(.no-dark)>a,
  .leaflet-control-attribution> :not(.leaflet-attribution-flag) {
    color: #878787;
    background-color: #000;
  }

  .leaflet-control {
    border: 2px solid rgb(255 255 255 / 20%);
  }

  .leaflet-control:not(.no-dark)>a.leaflet-control-layers-toggle {
    opacity: 50%;
  }

  .leaflet-container {
    background-color: #000;
  }

  .leaflet-div-icon {
    background: #909090;
  }

}



$color-config-dark: (
  color: (primary: mat.m2-define-palette(mat.$m2-indigo-palette),
    accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400),
    warn: mat.m2-define-palette(mat.$m2-red-palette),
  ),
  typography: mat.m2-define-typography-config(),
);

.app-dark-theme {
  $dark-theme: mat.m2-define-dark-theme($color-config-dark);
  @include mat.all-component-colors($dark-theme);

  .warn-color {
    color: #ff0056;
  }

  .good-color {
    color: #02cc02;
  }

  .leaflet-control:not(.no-dark),
  .leaflet-control:not(.no-dark)>a,
  .leaflet-control-attribution> :not(.leaflet-attribution-flag) {
    color: #ffffff;
    background-color: #000;
  }

  .leaflet-control {
    border: 2px solid rgb(255 255 255 / 20%);
  }

  .leaflet-container {
    background-color: #000;
  }

}




.locate_now {
  position: relative;
  display: inline-block;
}

.locate_now:after {
  content: "gps_fixed";
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.wrap {
  white-space: pre;
}

.input-list {
  display: flex;
  flex-flow: wrap;
  margin-left: -10px;
  margin-top: 10px;
}

.input-list>* {
  margin-left: 10px;
  margin-top: 10px;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.hidden {
  display: none !important;
}

.no-select {
  user-select: none;
}

.overscroll:not(:has(.no-overscroll)) {
  margin-bottom: 50vh;
}