.map {
  height: 100%;
  min-height: 50px;
  width: 100%;
}


.dark-mode.allow-invert ::ng-deep {
  .leaflet-layer:not(.no-invert) {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
}

::ng-deep .material-icons {
  margin-top: 3px;
}