<div class="map-div">
  <app-map></app-map>
</div>


<div class="manual-controls">
  <app-manual-controls *ngIf="btConnected || configService.config.remoteReceiverMode === RemoteReceiverMode.REMOTE">
  </app-manual-controls>
</div>



<div class="stats-container">
  <app-display-stats-device-sensors *ngIf="configService.config.remoteReceiverMode !== RemoteReceiverMode.REMOTE">
  </app-display-stats-device-sensors>
  <app-display-stats-remote *ngIf="configService.config.remoteReceiverMode === RemoteReceiverMode.REMOTE">
  </app-display-stats-remote>
</div>


<div class="charts">
  <div class="chart-container" *ngIf="configService.config.showGraphGps">
    <app-chart [data]="chartGpsHeading" title="GPS Heading" (dblclick)="clearGraphs()">
    </app-chart>
  </div>
  <div class="chart-container" *ngIf="configService.config.showGraphOrientation">
    <app-chart [data]="chartOrientation" title="Orientation Controller (Zero is Set Point)" (dblclick)="clearGraphs()">
    </app-chart>
  </div>
  <div class="chart-container" *ngIf="configService.config.showGraphRotation">
    <app-chart [data]="chartDataRotationRate" title="Rotation Rate Controller" (dblclick)="clearGraphs()">
    </app-chart>
  </div>
</div>


<div class="config-container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Config
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-config></app-config>
    </mat-expansion-panel>
  </mat-accordion>
</div>