.map-div {
  height: 100dvh;
}

.display-stats {
  position: absolute;
  width: 100%;
  padding-left: auto;
  display: flex;
  justify-content: center;
}

.stats-card {
  z-index: 1000;
  padding: 5px;
  margin-top: 6px;
  margin-right: 14px;
}

.bottom-overlay-card {
  padding: 5px;
}

.manual-control-overlay {
  position: fixed;
  z-index: 1001;
  bottom: 5px;
  left: 5px;

  margin-right: 47px;
}

.manual-controls {
  margin-top: 20px;
}