.config-container>* {
  margin-top: 10px;
}

mat-slide-toggle {
  margin-top: 15px;
  margin-bottom: 15px;
}


.motor-slider {
  width: 100%;
  max-width: 400px;
}


.center-controls {
  display: flex;
  place-content: space-around;
  max-width: 532px;
}