<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="toggleTheme()">
        {{themeService.darkMode ? "Light" : "Dark"}} Mode
        <mat-icon *ngIf="!(themeService.darkModeSubscription | async)">mode_night</mat-icon>
        <mat-icon *ngIf="themeService.darkModeSubscription | async">brightness_high</mat-icon>
      </a>

      <a mat-list-item [disabled]="!themeService.darkMode" (click)="invertMap()">
        Allow Dark Maps
        <mat-icon *ngIf="themeService.allowMapInversionSubscription | async">check_box</mat-icon>
        <mat-icon *ngIf="!(themeService.allowMapInversionSubscription | async)">check_box_outline_blank</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Cheap Pilot</span>
    </mat-toolbar>


    <div class="page">
      <div class="items">

        <router-outlet></router-outlet>

        <div class="version">
          version {{AppVersion.VERSION}}
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>