
.center-controls {
  display: flex;
  place-content: space-around;
}

.heading-button-container {
  margin-bottom: 15px;
}

.manual-controls>button {
  padding-top: 30px;
  padding-bottom: 28px;
  margin-top: 10px;
}
