@use '@angular/material' as mat;
@use 'sass:map';
@use 'palette';


@function define-dark-theme($config) {
  $theme: mat.m2-define-dark-theme($config);
  $color: map.get($theme, color);
  $color: map.merge($color,
      (background: palette.$dark-theme-background-palette,
        foreground: palette.$dark-theme-foreground-palette,
      ));
  @return map.merge($theme,
    (color: $color,
    ));
}