.heading-degrees {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 1.15em;
  display: inline-block;
  text-align: end;
  min-width: 3ch;
}

.speed {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 1.15em;
  display: inline-block;
  text-align: end;
  min-width: 5ch;
}

sub {
  font-size: x-small;
}

.double-line {
  font-size: x-small;
  display: inline-flex;
  flex-flow: column;
  align-items: flex-end;
  vertical-align: bottom;
}

.status-icon {
  font-size: 1.2em;
  margin-bottom: -7px;
  margin-left: 3px;
}