<span class="heading-degrees">{{config?.headingCurrentCompass | number:'1.0-0'}}</span>°
<div class="double-line">
  <div>crnt.</div>
  <div>cmps.</div>
</div>

&nbsp;
<span class="heading-degrees">{{config?.headingCurrentGps | number:'1.0-0'}}</span>°
<div class="double-line">
  <div>crnt.</div>
  <div>GPS</div>
</div>
&nbsp;
<span class="speed">{{config?.speedKts | number:'1.2-2'}}</span>
<div class="double-line">
  <div></div>
  <div>kts</div>
</div>

<br>
<span class="heading-degrees">{{config?.headingDesiredCompass | number:'1.0-0'}}</span>°
<div class="double-line">
  <div>des.</div>
  <div>cmps.</div>
</div>
&nbsp;
<span class="heading-degrees">{{config?.headingDesiredGps | number:'1.0-0'}}</span>°
<div class="double-line">
  <div>des.</div>
  <div>GPS</div>
</div>
&nbsp;
<span class="heading-degrees">{{config?.headingCurrentDrift | number:'1.0-0'}}</span>°
<div class="double-line">
  <div>avg.</div>
  <div>drift</div>
</div>

<br>

&nbsp;

<div class="double-line">
  <div>rot.</div>
  <div>ctrl.</div>
</div>
<mat-icon class="material-icons-outlined status-icon" [class.good-color]="config?.controllerRotationRate">
  {{config?.controllerRotationRate ? "light_mode" : "motion_photos_off" }}
</mat-icon>

&nbsp;

<div class="double-line">
  <div>orient.</div>
  <div>ctrl.</div>
</div>
<mat-icon class="material-icons-outlined status-icon" [class.good-color]="config?.controllerOrientation">
  {{config?.controllerOrientation ? "light_mode" : "motion_photos_off" }}
</mat-icon>

&nbsp;

<div class="double-line">
  <div>path</div>
  <div>ctrl.</div>
</div>
<mat-icon class="material-icons-outlined status-icon" [class.good-color]="config?.controllerPath">
  {{config?.controllerPath ? "light_mode" : "motion_photos_off" }}
</mat-icon>

&nbsp;

<div class="double-line">
  <div>BT</div>
  <div>Stat.</div>
</div>
<mat-icon class="material-icons-outlined status-icon" [class.warn-color]="!config?.bluetoothConnected"
  [class.good-color]="config?.bluetoothConnected">
  {{config?.bluetoothConnected ? "bluetooth_connected" : "warning" }}
</mat-icon>