.heading-degrees {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 1.15em;
  display: inline-block;
  text-align: end;
  min-width: 3ch;
}

.speed {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 1.15em;
  display: inline-block;
  text-align: end;
  min-width: 5ch;
}

sub {
  font-size: x-small;
}