<div class="connect-container">
  <div class="input-list">
    <button *ngIf="!btConnected" mat-raised-button color="primary" (click)="initBluetooth()"
      [disabled]="configService.config.remoteReceiverMode === RemoteReceiverMode.REMOTE">
      {{configService.config.remoteReceiverMode !== RemoteReceiverMode.REMOTE ? "Connect" : "Remote Control" }}
    </button>
    <button mat-raised-button color="primary" (click)="toggleFullScreen()">
      {{isInFullscreenMode() ? "Exit Full Screen" : "Full Screen" }}
    </button>
    <button mat-raised-button color="primary" (click)="blackoutScreen = true">Blackout</button>
  </div>
</div>

<app-blackout *ngIf="blackoutScreen" (click)="blackoutScreen = false"></app-blackout>



<app-map></app-map>


<div>
  <div class="center-controls heading-button-container">
    <button *ngIf="btConnected" mat-raised-button color="primary" (click)="maintainCurrentHeading()">
      Maintain Current Heading
    </button>
  </div>
</div>


<div *ngIf="btConnected" class="center-controls manual-controls">
  <button mat-raised-button color="primary" (click)="moveManually(1)">
    &lt;- {{controllerOrientation.enabled ? "5°" : "°/s"}}
  </button>
  <button mat-raised-button color="primary" (click)="stopManually()">
    stop
  </button>
  <button mat-raised-button color="primary" (click)="moveManually(-1)">
    {{controllerOrientation.enabled ? "5°" : "°/s"}} -&gt;
  </button>
</div>


<app-remote-control *ngIf="this.configService.config.remoteReceiverMode === RemoteReceiverMode.REMOTE">
</app-remote-control>


<div>
  Head. Cur. &nbsp;
  <span class="heading-degrees">{{sensorOrientation.heading.value.heading | number:'1.0-0'}}</span>°<sub>cmps.</sub>
  &nbsp;
  <span class="heading-degrees">{{gpsHeading | number:'1.0-0'}}</span>°<sub>GPS</sub>
  &nbsp;
  <span class="heading-degrees">{{controllerPath.compassDriftDegrees | number:'1.0-0'}}</span>°<sub>drift</sub>
  <br>
  Head. Des.&nbsp;
  <span class="heading-degrees">{{controllerOrientation.desired | number:'1.0-0'}}</span>°<sub>cmps.</sub>
  &nbsp;
  <span class="heading-degrees">{{controllerPath.desiredHeadingToDestination| number:'1.0-0'}}</span>°<sub>GPS</sub>

  <br>
  Speed &nbsp;<span class="speed">{{speedKts | number:'1.2-2'}}</span><sub>kts</sub>
  <br>
  Controllers: Rot. [{{controllerRotationRate.enabled ? "on" : "off"}}]
  Orient. [{{controllerOrientation.enabled ? "on" : "off"}}]
  Path [{{controllerPath.enabled ? "on" : "off"}}]
  <br>
</div>



<div class="charts">
  <app-chart *ngIf="configService.config.showGraphGps" [data]="chartGpsHeading" title="GPS Heading"
    (dblclick)="clearGraphs()">
  </app-chart>
  <app-chart *ngIf="configService.config.showGraphOrientation" [data]="chartOrientation"
    title="Orientation Controller (Zero is Set Point)" (dblclick)="clearGraphs()">
  </app-chart>
  <app-chart *ngIf="configService.config.showGraphRotation" [data]="chartDataRotationRate"
    title="Rotation Rate Controller" (dblclick)="clearGraphs()">
  </app-chart>
</div>


<div class="config-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Config
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-config></app-config>
    </mat-expansion-panel>
  </mat-accordion>
</div>