<div class="map-div">
  <app-map></app-map>
</div>


<div>
  <div class="center-controls heading-button-container">
    <button *ngIf="btConnected" mat-raised-button color="primary" (click)="maintainCurrentHeading()">
      Maintain Current Heading
    </button>
  </div>
</div>


<div *ngIf="btConnected" class="center-controls manual-controls">
  <button mat-raised-button color="primary" (click)="moveManually(1)">
    &lt;- {{controllerOrientation.enabled ? "5°" : "°/s"}}
  </button>
  <button mat-raised-button color="primary" (click)="stopManually()">
    stop
  </button>
  <button mat-raised-button color="primary" (click)="moveManually(-1)">
    {{controllerOrientation.enabled ? "5°" : "°/s"}} -&gt;
  </button>
</div>


<div style="margin-bottom: 20px;">
  <app-remote-control *ngIf="configService.config.remoteReceiverMode === RemoteReceiverMode.REMOTE">
  </app-remote-control>
</div>


<div class="stats-container">
  <app-display-stats-device-sensors></app-display-stats-device-sensors>
</div>


<div class="charts">
  <app-chart *ngIf="configService.config.showGraphGps" [data]="chartGpsHeading" title="GPS Heading"
    (dblclick)="clearGraphs()">
  </app-chart>
  <app-chart *ngIf="configService.config.showGraphOrientation" [data]="chartOrientation"
    title="Orientation Controller (Zero is Set Point)" (dblclick)="clearGraphs()">
  </app-chart>
  <app-chart *ngIf="configService.config.showGraphRotation" [data]="chartDataRotationRate"
    title="Rotation Rate Controller" (dblclick)="clearGraphs()">
  </app-chart>
</div>


<div class="config-container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Config
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-config></app-config>
    </mat-expansion-panel>
  </mat-accordion>
</div>